form{
    width: 70%;
    margin: 50px auto;
    label{
        margin: 20px 0;
        color: #007bff;
         h4{
            margin: 10px 0;
            color: rgb(119, 0, 0)
        }
    }
    input{
        margin-bottom: 20px
    }
    .opt-input{
        margin: 10px 15px ;
        display: inline;
        width: 50%;

    }
}